body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    margin: 0;
    background: url("https://inkubatory.pl/media/cities/7.jpg");
}

#navbar {
    padding: 80px;
    background-size: 100%;
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(33, 33, 33, 0.8);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;*/
}

h1 {
    margin: 0;
}
.contenthead {
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#footer {
    text-align: center;
}

#footer span {
    background: rgba(33, 33, 33, 0.8);
    padding: 5px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: gold;
}

.infobox {
    margin-bottom: 15px;
}

.infocontent {
    font-size: 35px;
}

.infounit {
    font-size: 20px;
}

.infoprocent {
    font-size: 20px;
}

.infoprounit {
    font-size: 15px;
}

.left {
    background: rgba(33, 33, 33, 0.8);
    padding: 15px;
    border-radius: 10px;
    width: 20%;
    margin: 20px;
    transition: 200ms;position: relative;
    bottom: 0;
    cursor: pointer;
}

#content {
    display: flex;
}

.left:hover {
    bottom: 20px;
}

@media screen and (max-width: 916px) {
    .left {
        margin: 5px auto;
        width: 90%;
    }
    #content {
        flex-direction: column;
    }
}